@font-face {
    font-family: odin-norse;
    src: url(Norse-Bold.otf);
}

:root {
    --bkg-light: #dede;
    --logo-height: max(50px, 20%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

.side-panel {
    flex: 0 1 max(150px, 33%);
    background-image: url(odin-lined.png), linear-gradient( rgba(19, 18, 18, 0.692), rgba(19, 17, 18, 0.425)), url(lexi-laginess-XYfjIT9c01Q-unsplash.jpg);
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-size: min(100px, 20%), 100% 150px, cover;
    background-position: 28% 30%, 0 29%;
    position: relative;
}

.side-panel h1 {
    font-family: odin-norse, 'Times New Roman', Times, serif;
    position: absolute;
    top: 27%;
    right: 30%;
    color: white;
    font-size: calc(6.5rem + 25%);
}


.main-content {
    flex: 1;
    height: 100vh;
    background-color: var(--bkg-light);
}
